body{
    background-image: url(/elements/blurred-background-store-of-shopping-mall-blur-background-with-bokeh-vintage-filtered-image.jpg);
    background-repeat:repeat;
    background-size:contain;
}