:root {
  --bs-primary: purple;
  --header-bg : white;
  --body-bg : #eef0f1;
  --color:blue;
  --loading-bg : white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
}

body[theme='Dark']{
  --header-bg : darkgray;
  --bs-primary : peru;
  --body-bg : #6c757d;
  --color: white;
  --loading-bg: black;
}

body *{
  color: var(--color);
}