<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="modal fade" id="set-pet-owner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>








    <nav class="navbar navbar-light bg-light d-flex justify-content-between">
        <p class="navbar-brand">Adopt a Pet</p>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
            </li>
            <div>
                <img class="rounded-circle" style="height: 50px; width: 50px;"
                    src="https://picsum.photos/id/237/200/300">
            </div>
    </nav>
    <div class="container container-fluid">
        <div class="row mt-3 mb-4">
            <div class="col-7">
                <div class="card">
                    <div class="card-body shadow-sm">
                        <h1 class="card-title font-weight-bold">Register an Owner</h1>
                        <form id="new-owner">
                            <div class="form-group">
                                <label for="">Owner name</label>
                                <input type="text" class="form-control" name="owner">
                            </div>
                            <button id="save-owner" type="button" class="btn btn-primary">Submit Owner</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="table">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">No. of pets</th>
                          </tr>
                        </thead>
                        <tbody id="owners-wrapper">

                        
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-fluid">
        <div class="row mt-3 mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body shadow-sm">
                        <h1 class="card-title font-weight-bold">Register a Pet</h1>
                        <form id="new-pet">
                            <div class="form-group">
                                <label for="">Pet name</label>
                                <input type="text" class="form-control" name="pet">
                            </div>
                            <div class="form-group">
                                <label for="">Owner Name</label>
                                <input type="text" class="form-control" name="owner">
                            </div>
                            <div class="form-group">
                                <label for="">Pet Description</label>
                                <input type="text" class="form-control" name="description">
                            </div>
                            <div class="form-group">
                                <label for="">Pet Image(URL)</label>
                                <input type="text" class="form-control" name="url">
                            </div>
                            <button id="save-pet" type="button" class="btn btn-primary">Submit Pet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-fluid">
        <div class="row mt-3 mb-4" id="pet-wrapper-transitive">



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="../js/pets.js"></script>
        <script src="../js/main.js"></script>
</body>

</html>