$Gradiente: linear-gradient(hsl(236, 72%, 79%) to hsl(237, 63%, 64%));
$VLGB: hsl(240, 78%, 98%);
$LGB: hsl(234, 14%, 74%);
$GB: hsl(233, 13%, 49%);
$DGB: hsl(232, 13%, 33%);
$Font-Size: 15px;
$Font-Family: 'Montserrat', sans-serif;
$Bm: 1rem;

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

